<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Conmix Invoice</title>

    <style>
        body {
            background-color: #FFF;
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: normal;
            color: #767676;
            padding: 0;
            margin: 0;
            overflow-x: hidden;
            line-height: 18px;
        }
        .container {
            max-width: 1170px;
            margin-right: auto;
            margin-left: auto;
        }
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 0px;
            font-weight: bold;
        }
        h2 {
            font-family: 'Roboto';
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            color: #1a1a1a;
        }
        h5 {
            font-size: 16px;
            line-height: 22px;
        }
        h6 {
            font-size: 14px;
            line-height: 18px;
        }
        table {
            border-spacing: 0;
            border-collapse: collapse;
            background-color: transparent;
            width: 100%;
        }
        table.cust_invoice, table.cust_invoice table {
            margin: 0;
            color: #000;
        }
        p, h6, h5 {
            margin: 0;
        }
        table.cust_invoice td {
            border-collapse: collapse;
            vertical-align: top;
            padding: 0;
        }
        .cust_invoice_order_tbl tr th, .cust_invoice_order_tbl tr td {
            border-top: 1px solid #000;
            border-bottom:  1px solid #000;
            border-right: 1px solid #000;
            border-left: 0px ;
            padding: 10px
        }
       /* .cust_invoice_order_tbl tr th {
            border-bottom: 1px solid #000000;
        }*/
        .cust_invoice_total_tbl tr td {
            padding: 10px;
           /* border-bottom: 1px solid #000000;*/
            text-align: right;
            color: #000;
        }
        .vTitle {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <table class="cust_invoice" style="border: 1px solid #000000; width: 100%; margin-bottom: 50px;">
        <tbody>
            <tr>
                <td align="center">
                    <table cellspacing="0" cellpadding="0"  align="center" style="border-bottom: 1px solid #000000;">
                        <tr>
                            <td width="30%" style="padding: 10px 20px; vertical-align: middle;">
                                <h3 style="margin: 0;">Supplier Name / Logo</h3>
                            </td>
                            <td width="70%" style="padding: 10px 20px;">
                                <div class="inv-nodate-block" style="float: right">
                                    <p><b>{{supplier_name}}</b></br>
                                        {{supplier_site_address_line1}}, {{supplier_site_address_line2}}, {{supplier_city_name}}-{{supplier_pincode}}, {{supplier_state_name}}.</br>
                                    </p>
                                    <p> <span class="vTitle">State Name : </span>
                                        <span class="vName">{{supplier_state_name}}</span>,
                                         <span class="vTitle">GST No : </span>
                                        <span class="vName">{{supplier_gst_number}}</span>,
                                         <span class="vTitle">PAN No :  </span>
                                        <span class="vName">{{supplier_pan_no}}</span>
                                    </p>
                                    <p>Mobile No : {{supplier_mobile_number}}, Email : {{supplier_email}}</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                   <td align="center">
                    <table cellspacing="0" cellpadding="0"  align="center" style="border-bottom: 1px solid #000000;">
                        <tr style="border-bottom: 1px solid #000000;">
                            <td style="padding: 5px; border-right: 1px solid #000000;"> <p><b>Invoice No :</b><br/> <span>#{{Invoice_number}}</span></p></td>
                            <td style="padding: 5px; border-right: 1px solid #000000;"><p><b>Date of Invoice :</b><br/> <span>{{Date_of_Invoice}}</span></td>
                            <td style="padding: 5px; border-right: 1px solid #000000;"><p><b>Order Id :</b><br/> <span>#{{Order_id}}</span></td>
                            <td style="padding: 5px; border-right: 1px solid #000000;"><p><b>Order Date :</b><br/> <span>{{Order_date}}</span></td>
                            <td style="padding: 5px; border-right: 1px solid #000000;"> <p><b>Delivery Date :</b><br/> <span>{{Delivery_date}}</span></p></td>
                            <td style="padding: 5px;"><p><b>Payment Mode :</b><br/> <span>RazorPay</span></td>
                        </tr>
                        <!-- <tr>
                            <td width="25%" style="padding: 10px; border-right: 1px solid #000000; text-align: center;" > <p><b>Delivery Date :</b> <span>08 Aug 2021</span></p></td>
                            <td width="25%" style="padding: 10px; border-right: 1px solid #000000; text-align: center;" ><p><b>Payment Mode :</b> <span>RTGS / NEFT</span></td>
                            <td width="25%" style="padding: 10px; border-right: 1px solid #000000; text-align: center;" ><p><b>Order Id :</b> <span>#123456</span></td>
                            <td width="25%" style="padding: 10px;  text-align: center;" ><p><b>Order Date :</b> <span>6 Aug 2021</span></td>

                        </tr> -->
                    </table>
                </td>


            </tr>
            <tr>
                <td align="center">
                    <table cellspacing="0" cellpadding="0"  align="center" >
                        <tbody>
                            <tr>
                                <td width="50%" style="padding: 10px; border-right: 1px solid #000000;"><h6>Billing Address</h6></td>
                                <td width="50%" style="padding: 10px; border-left: 1px solid #000000;"><h6>Delivery Address</h6></td>
                            </tr>
                            <tr>
                                <td style="border-right: 1px solid #000000;">
                                    <table cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td style="padding: 0 10px 10px 10px;">
                                                <div class="inv-info-block">
                                                    <h5>Conmate E-Commerce Pvt. Ltd.</h5>
                                                    <p>
                                                        ‘ SCC House ‘ , Opp. Nirma University,
                                                        Nr. Balaji Temple, S. G. Highway, Chharodi,
                                                        Ahmedabad-382481, Gujarat.
                                                    </p>
                                                   <p>
                                                        <span class="vTitle">State : </span>
                                                        <span class="vName">Gujarat, </span>
                                                        <span class="vTitle">GST No : </span>
                                                        <span class="vName">GS123456789, </span>
                                                        <span class="vTitle">PAN No :  </span>
                                                        <span class="vName">123456BG</span>
                                                    </p>
                                                    <p>Mobile No: +91 99096 88845, Email: info@conmix.in</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="border-left: 1px solid #ddd;">
                                    <table cellspacing="0" cellpadding="0">
                                        <tr>
                                          <td style="padding: 0 10px 10px 10px;">
                                                <div class="inv-info-block">
                                                    <h5>{{buyer_name}}</h5>
                                                    <p>{{buyer_billing_address_name}}
                                                        {{buyer_billing_address_line1}}, 
                                                        {{buyer_billing_address_line2}},
                                                        {{buyer_billing_address_city_name}}-{{buyer_billing_address_pincode}}
                                                    </p>
                                                   <p>
                                                        <span class="vTitle">State : </span>
                                                        <span class="vName">{{buyer_billing_address_state_name}}, </span>
                                                        <span class="vTitle">GST No : </span>
                                                        <span class="vName">{{buyer_gst_number}}, </span>
                                                        <span class="vTitle">PAN No : </span>
                                                        <span class="vName">{{buyer_pan_no}}</span>
                                                    </p>
                                                    <p>Mobile No: {{buyer_mobile_number}}, Email: {{buyer_email}}</p>
                                                </div>
                                            </td>

                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table class="cust_invoice_order_tbl" cellspacing="0" cellpadding="0" align="center" style="border-bottom: 1px solid #000000;">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Sr.No</th>
                                <th>Item</th>
                                <th style="text-align: center;">HSN Code</th>
                                <th style="text-align: center;">Qty.</th>
                                <th style="text-align: center;">Unit</th>
                                 <th style="text-align: right;">Price(₹)</th>
                                <th style="text-align: right; border-right:none;">Amount(₹)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">1.</td>
                                <td>RMC {{item_name}}</td>
                                <td style="text-align: center;">{{HSN_code}}</td>
                                <td style="text-align: center;">{{item_quantity}}</td>
                                <td style="text-align: center;">Cu.Mtr</td>
                                <td style="text-align: right;">{{item_unit_price}}</td>
                                <td style="text-align: right; border-right:none;">{{item_amount}}</td>
                            </tr>
                            <!-- <tr>
                                <td style="text-align: center;">2.</td>
                                <td>RMC M20</td>
                                <td style="text-align: center;">382450</td>
                                <td style="text-align: center;">20</td>
                                <td style="text-align: center;">Cu.Mtr</td>
                                <td style="text-align: right;">500.00</td>
                                <td style="text-align: right; border-right:none;">10000.00</td>
                            </tr> -->
                            <tr>
                                <td colspan="6" style="font-weight: bold;text-align: right;"><span style=" font-weight: bold;">CGST({{item_cgst_rate}}%)</span></td>
                                <td style="text-align: right; border-right:none;">{{item_cgst_price}}</td>
                            </tr>
                            <tr>
                                <td colspan="6" style="font-weight: bold;text-align: right;"><span style=" font-weight: bold;">SGST({{item_sgst_rate}}%)</span></td>
                                <td style="text-align: right; border-right:none;">{{item_sgst_price}}</td>
                            </tr>
                            <tr>
                                <td colspan="6" style="font-weight: bold;text-align: right;"><span style=" font-weight: bold;">IGST({{item_igst_rate}}%)</span></td>
                                <td style="text-align: right; border-right:none;">{{item_igst_price}}</td>
                            </tr>
                            <!-- <tr>
                                <td colspan="6" style="font-weight: bold;text-align: right;"><span style=" font-weight: bold;">Discount</span></td>
                                <td style="text-align: right; border-right:none;">0</td>
                            </tr> -->
                            <tr>
                                <td colspan="6" style="font-weight: bold;text-align: right;"><span style=" font-weight: bold;">Amount In Words :</span> INR {{amount_in_words}}.</td>
                                <td style="font-weight: bold;text-align: right; border-right:none;">₹ {{total_amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style=" width: 60%" width="60%" cellspacing="0" cellpadding="0" align="center">
                        <tbody><tr>
                            <td>
                                <table class="cust_invoice_total_tbl" cellspacing="0" cellpadding="0" align="center">
                                    <tbody><tr><td style="text-align: left;">
                                        <p>
                                        </p>
                                    </td>
                                </tr></tbody></table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="cust_invoice_order_tbl" style="border-bottom: 1px solid #000000; width: 60%;font-size: 12px; border-left: 1px solid #000;margin-left:10px;" width="60%" cellspacing="0" cellpadding="0" align="center">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Sr.No</th>
                                <th style="text-align: center;">HSN Code</th>
                                <th style="text-align: right;">Taxable Amt.</th>
                                <th style="text-align: right;">CGST({{item_cgst_rate}}%)</th>
                                <th style="text-align: right;">SGST({{item_sgst_rate}}%)</th>
                                <th style="text-align: right;">IGST({{item_igst_rate}}%)</th>
                                <th style="text-align: right;">Total Tax</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">1.</td>
                                <td style="text-align: center;">{{HSN_code}}</td>
                                <td style="text-align: right;">{{item_amount}}</td>
                                <td style="text-align: right;">{{item_cgst_price}}</td>
                                <td style="text-align: right;">{{item_sgst_price}}</td>
                                <td style="text-align: right;">{{item_igst_price}}</td>
                                <td style="text-align: right;">{{total_tax}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 100%;font-size: 12px;" width="100%" cellspacing="0" cellpadding="0" align="center">
                       <tbody><tr>
                            <td>
                                <table class="cust_invoice_total_tbl" style="border-bottom: 1px solid #000000;" cellspacing="0" cellpadding="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: left;">
                                                <span style=" font-weight: bold;">Tax Amount In Words :</span> {{tax_amount_in_words}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table width="100%" cellspacing="0" cellpadding="0"  align="center" style="width: 100%;font-size: 12px;">
                        <tr>
                            <td align="center">
                                <table cellspacing="0" cellpadding="0"  align="center" style="border-bottom: 1px solid #000000;padding: 10px;">
                                    <tbody>
                                        <tr>
                                            <td style="border-right: 1px solid #000000;">
                                                <table cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="50%" style="padding: 10px 10px 10px 10px;">
                                                            <h5>Bank Detail</h5>
                                                            <p>
                                                                <span class="vName">Bank Name : </span>
                                                                <span class="vTitle">{{supplier_bank_name}}</span>
                                                            </p>
                                                            <p>
                                                                <span class="vName">A/C Holder Name : </span>
                                                                <span class="vTitle">{{supplier_account_holder_name}}</span>
                                                            </p>
                                                            <p>
                                                                <span class="vName">A/c No  : </span>
                                                                <span class="vTitle">{{supplier_account_number}}</span>
                                                            </p>
                                                            <p>
                                                                <span class="vName">IFSC Code :  </span>
                                                                <span class="vTitle">{{supplier_ifsc}}</span>
                                                            </p>
                                                            <p>
                                                                <span class="vName">Branch Name :  </span>
                                                                <span class="vTitle">Bodakdev Ahmedabad</span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="50%" style="border-left: 1px solid #ddd;">
                                                <table cellspacing="0" cellpadding="0">
                                                    <tr >
                                                        <td style="padding: 10px 10px 10px 10px; text-align: right; height: 90px;">
                                                            <span class="vTitle">For Supplier Company Name</span><br/>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 10px 10px 10px 10px;  text-align: right;">
                                                            <span class="vTitle">Authorised Signatory</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <table cellspacing="0" cellpadding="0"  align="center">
                                    <tbody>
                                        <tr>
                                            <td >
                                                <table cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="50%" style="padding: 10px 10px 10px 10px;">
                                                            <div class="inv-info-block">
                                                                <h5>Terms & Conditions</h5>
                                                                <p>
                                                                    <span class="vName">
                                                                        1.Measurement of Product quantity, quality and payment terms will be applicable as per Vendor/Partner policy available on <b>www.conmix.in/privercypolicy</b></br>
                                                                        2.Terms of Use will be applicable as available on <b>www.conmix.in/terms</b></br>
                                                                        3.Privacy policy for use will be applicable as available on <b>www.conmix.in/policy</b></br>
                                                                        4. Vendor/Partner hereby accepts the above Terms & Conditions.
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0"  style="border-top: 1px solid #000000; ">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td width="50%" style="padding: 10px 10px 10px 10px; text-align: left;">
                                                            <span class="vName"><b>Custome Care:</b> 1800 1800 , <b>Write Us On :</b>  customercare@conmix.in</br></span>
                                                        </td>
                                                        <td width="50%" style="padding: 10px 10px 10px 10px; text-align: right;">
                                                            <span class="vName">This is a System Generated Invoice. No Signatuer required</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>